<h1>OMDB Movie Search</h1>
<p>Search for a movie below...</p>
  <form method="GET" action="/results">
    <label for="movie">Movie Name</label>
    <input type="text" id = "movie" name = "movie">
    <button type = "submit">submit</button>
  </form>